<header id="main-header">
    <h1 class="main-header__logo"><a href="/">ACE FOOD</a></h1>
    <nav class="main-header__nav">
        <ul class="main-header__list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">HOME</a></li>
            <li class="main-header__item"><a class="<%= path === '/list' ? 'active' : '' %>" href="/list">LIST</a></li>
            <li class="main-header__item"><a class="<%= path === '/add-food' ? 'active' : '' %>" href="/add-food">ADD FOOD</a></li>
        </ul>
    </nav>
</header>