.logo, .gnb, .gnb__lisitems li {
    display: inline-block;
}

.gnb__lisitems li {
    padding: 0 2rem;
}

.gnb__lisitems .current {
    font-weight: bold;
    color: #E95567;
}

#main-header {
    background: #fff;
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}