.container {
    max-width: 80rem;
    margin: 0 auto;
}

.hero {
    height: calc(100vh - 8.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title {
    text-align: center;
    font-family: 'Sriracha', cursive;
    color: #230202;
    font-size: 4rem;
}

.btn {
    background: #E95567;
    padding: 1rem;
    color: #fff;
    border-radius: 0.2rem;
    cursor: pointer;
    border: 2px solid #E95567;
    font-size: 1.1rem;
    transition: background 0.3s, color 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
    background: #fff;
    color: #E95567;
}

#main {
    background: #F2C65A;
}