
.container {
    max-width: 70rem;
    margin: 0 auto;
}

.hero__title {
    text-align: center;
    padding: 5rem 0;
    font-family: 'Sriracha', cursive;
    color: #230202;
    font-size: 4rem;
}

.foods {
    padding-bottom: 5rem;
}

.foods__title {
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Sriracha', cursive;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid #230202;
}

.food__list {
    display: flex;
    flex-wrap: wrap;
}

.foods__item {
    width: 16rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background: #fff;
    border-radius: 0.2rem;
    overflow: hidden;
}

.card__img {
    width: inherit;
}

.card__info {
    padding: 1rem;
}

.card__title{
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.card__desc{
    font-size: 0.9rem;
}

#main {
    background: #F2C65A;
    padding: 2rem 0;
}