<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main id="main">
        <div class="container">
            <section class="hero">
                <h2 class="hero__title">Let's find <br>the most delicious restaurant!</h2>
            </section>
        </div>
    </main>

<%- include('includes/end.ejs') %>